<div *ngIf="employeeOptionList$ | async as employeeOptionList">
  <app-typeahead 
    [options]="employeeOptionList"
    [selectedOptions]="selectedOptions"
    (optionSelected)="addOption($event)">
  </app-typeahead>

  <app-typeahead-multi-select
    [options]="employeeOptionList"
    [selectedOptions]="selectedOptions"
    (optionToggled)="optionToggled($event)">
  ></app-typeahead-multi-select>

  <h2>Selected Employees</h2>
  <div *ngFor="let option of selectedOptions">
    {{ option.label }}
  </div>
</div>