<mat-form-field class="typeahead w-100">
	<input
    type="text"
    [formControl]="searchControl"
    [matAutocomplete]="autoComp"
    placeholder="Search"
    matInput 
  />
	<mat-autocomplete #autoComp="matAutocomplete" panelWidth="297px">
		<ng-container *ngIf="filteredOptions$ | async as filteredOptions">
			<mat-option *ngFor="let option of filteredOptions" [value]="option.value"
				(onSelectionChange)="onOptionSelect(option)">
				<span>{{ option.label }}</span>
			</mat-option>
		</ng-container>
	</mat-autocomplete>
</mat-form-field>
